.RogueFooter
	font-size: 14px
	font-weight: 400
	text-align: center
	margin-bottom: 5px
	padding-bottom: 0px

.RogueFooterContainer
	margin-top: 0px
	margin-bottom: 0px
	text-align: center

.RoguePager
	margin-top: 67px
	padding-top: 0px

.RogueLink
	text-decoration: none
	color: '#3f9699'

@import '~vuetify/src/stylus/app'